{% extends "crud/card.html" %}

{% block card %}
<!-- <p><strong>ID: </strong>{{object.id}}</p> -->
<p><strong>Cuestionario: </strong>{{object.cuestionario}}</p>
<p><strong>Respuestas Necesarias: </strong>
	<ul>
	  {% for pregunta in object.respuestas_necesarias.all %}
		<li>{{ pregunta }}</li>
	  {% endfor %}
	</ul>
  </p>
<p><strong>Diagnóstico: </strong>{{object.escala}}</p>

<div class='row justify-content-center'>

	<a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">
		<i class="fas fa-caret-left"></i>
		Volver
	</a>&nbsp;

</div>

{% endblock %}