{% extends "crud/card.html" %}
{% load crispy_forms_tags %}

{% block card %}
		
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form|crispy}}
		{{ doctor_form|crispy }}
		
		<button type="submit" class="btn btn-success">
			<i class="fas fa-save"></i>
			Aceptar
		</button>
		
		<a href="{{request.META.HTTP_REFERER}}" type="submit" class="btn btn-secondary">
			<i class="fas fa-caret-left"></i>
			Cancelar
		</a>
		
	</form>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var requiredFields = document.querySelectorAll('.required');
			requiredFields.forEach(function(field) {
				var label = document.querySelector('label[for="' + field.id + '"]');
				if (label) {
					var asterisk = document.createElement('span');
					asterisk.innerHTML = '*';
					asterisk.classList.add('asteriskField');
					label.appendChild(asterisk);
				}
			});
		});
	</script>
	
{% endblock %}