{% extends "crud/card.html" %}
{% load crispy_forms_tags %}

{% block card %}
<style>
    .disabled {
        cursor: default !important;
    }

	.disabled .filter-option-inner-inner {
        color: #505050 !important; /* Cambia el color del texto a negro */
    }
</style>

<form method="post" enctype="multipart/form-data">

	{% csrf_token %}
	{{ form|crispy }}

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Continuar jeje
	</button>

	<a href="{{request.META.HTTP_REFERER}}" type="submit" class="btn btn-primary">
		<i class="fas fa-caret-left"></i>
		Cancelar
	</a>

</form>

{% endblock %}