{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='row justify-content-center align-items-center' style="min-height: calc(100vh - 76px); background-color: #918eca !important">
    <div class='col-sm-5 col-sm-offset-3'>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary text-align-center">Restablecer Contraseña</h5>
            </div>
            
            <div class="card-body">
                <p class='lead'>{% trans "Un email con instrucciones para restablecer tu contraseña ha sido enviado." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}