{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class='row justify-content-center align-items-center'
	style="min-height: calc(100vh - 76px); background-color: #918eca !important">
	<div class='col-sm-5 col-sm-offset-3'>
		<div class="card shadow mb-4">

			<div class="card-header py-3">
				<h5 class="m-0 font-weight-bold text-primary text-align-center">Restablecer Contraseña</h5>
			</div>

			<div class="card-body">

				<form method="post" action=".">
					{% csrf_token %}
					{{ form|crispy }}

					<input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
				</form>

			</div>
		</div>
	</div>
</div>
{% endblock %}